 /*標題=====================*/
/*標題一*/
h3.title_1{ text-align: center; border-bottom: 1px solid #666; padding-bottom: 26px; margin-bottom: 20px;/**/ }
h3.title_1.left{ text-align: left;}
h3.title_1 a.btn_more{ display: inline-block; background: #656565;  font-size: 14px; color: #fff; letter-spacing: 5px; padding: 10px; border-radius: 50px; float: right;}
h3.title_1 a.btn_more:hover{ background:#b2b2b2; }
/*標題二*/
h3.title_2{font-size:18px; text-align: left; border-top: 1px solid #666; padding-top: 15px;  margin-bottom: 20px;/**/ }
/*標題三*/
h3.title_3{font-size:18px; color: #fff;  text-align: center; padding: 10px; background: #656565;  margin-bottom: 20px;/**/  }

/*商品狀態標籤================*/
.part_tag{ font-size:12px; letter-spacing: 2px; padding:5px; border-radius: 3px;  }
.part_tag.color_1{ background:#656565; color: #fff; }
.part_tag.color_2{ background: #c0272c;color: #fff; }
.part_tag.color_3{ background: #333333;color: #fff; }
.part_tag.border{ border: 1px solid #333333;  }

/*tab按鈕====================*/
.tab_1{ clear: both; border: 1px solid color;}
.tab_1 .tab_menu{border: 1px solid #656565;}
.tab_1 .tab_menu a{ padding: 10px; width:33.333%; border-right: 1px solid #999999 ; color: #b2b2b2; text-align: center; letter-spacing: 3px; font-size:14px; float: left }
.tab_1 .tab_menu a:hover{ background: #b2b2b2; color: #fff;}
.tab_1 .tab_menu a:nth-last-of-type(1){ border: none;}
.tab_1 .tab_menu a.active{ background: #656565; color: #fff;}


/*768px*/
@media only screen and (max-width:768px){
    .tab_1 .tab_menu{ border: 0px; border-top: 1px solid #656565}
    .tab_1 .tab_menu a{ border: 0px;}
    .tab_1 .tab_menu a:hover{ background: transparent; color: #333333;}
    .tab_1 .tab_menu a.active{ background:#fff; color: #333333; }
    .tab_1 .tab_menu a.active:after,.tab_1 .tab_menu a:hover:after{ content: ""; display: block; width: 80px; height: 1px; margin: 5px auto; background: #333333;}
    
}




/*more_box================*/
.more_box{ text-align: center;}
.more_box .btn_more{ display: inline-block; padding: 10px; font-size: 14px; letter-spacing: 10px; color: #fff; border-radius: 50px; background: #656565;}

/*form_2================*/
.form_2{position: relative;}
.form_2 label{ display: block; font-size:14px; margin-bottom: 10px;}
.form_2 select{ width: 100%; height: 35px}

/*pager================*/
.part_pager{ text-align: center;}
.part_pager a,.part_pager span,.part_pager ul{ display: inline-block;} 
.part_pager a.next{letter-spacing: 3px;}
.part_pager a.prev{ letter-spacing: 3px;}
.part_pager > a:hover{ text-decoration: underline;}
.part_pager ul li{display: inline-block;}
.part_pager li> span,.part_pager li > a{ width: 30px; height: 30px; line-height: 30px; margin:0 10px;}
.part_pager li> span.current{  color: #fff; background: #656565; border-radius: 50%;}
.part_pager li > a{  border-radius: 50%; }
.part_pager li > a:hover{ background: #eee;}