@charset "utf-8";
/* CSS Document */

/*album*/
.album{ clear: both; margin: 20px auto;}
.album .row{ min-width:$width-desktop; @extend %clearfix;}
.album .row .col{ float: left; overflow: hidden; margin-bottom: 20px;}
.album .row .col:not(:nth-last-of-type(1)){ margin-right: 20px;}
.album .row .col img{ width: 100%; height: auto;}
.album .row .col_1{ width: 600px; height: 400px; }
.album .row .col_2{ width: 720px; height: 480px;}
.album .row .col_3{ width: 480px; height: 480px;}
.album .row .col_4{ width: 440px; height: 296px; }
.album .row .col_5{ width: 296px; height: 296px;}

@include breakpoint($pc) {
    
    .album .row{min-width:auto;}
    .album .row .col:not(:nth-last-of-type(1)){ margin-right: 2%;}
    .album .row .col_1{ width:49%; height:0; padding-bottom: 32.5%; border: 1px solid green;}
    .album .row .col_2{ width:58%; height:0; padding-bottom: 38.5%;}
    .album .row .col_3{ width:40%;height:0; padding-bottom: 38.5%;}
    .album .row .col_4{ width:36%; height:0; padding-bottom: 23.5%; border: 1px solid blue;}
    .album .row .col_5{ width:24%; height:0; padding-bottom: 23.5%;border: 1px solid blue;}
}

@include breakpoint($padM){
    .album{ margin: auto;}
    .album .row .col:not(:nth-last-of-type(1)){ margin-right: 2%;}
    .album .row .col_1{ width:100%; height:auto; padding-bottom: 0;}
    .album .row .col_2{ width:100%; height:auto; padding-bottom: 0;}
    .album .row .col_3{ width:100%;height:auto;padding-bottom: 0;}
    .album .row .col_4{ width:100%; height:auto; padding-bottom: 0;}
    .album .row .col_5{ width:100%; height:auto; padding-bottom: 0;}
}

@include breakpoint($mobile){
    .album .row .col{margin-bottom: 10px;}
}