@charset "utf-8";
/*------------ 【 會員中心 】 section_member_center ------------*/

/*------------ form ------------*/
.section_member_center form { padding-left:20px;}
@include breakpoint($pad){
	.section_member_center form { padding-left:0;}
}

/*------------ order_detail 訂單明細 ------------*/
.order_detail { @extend %clearfix; color:$gray; letter-spacing:0.15em;}
// .order_detail .title_1 { display:none;}
.order_detail .box_1 { width:49%; float:left; border-right:1px dashed $gray;}
.order_detail .box_2 { width:49%; float:right;}
.order_detail li { font-size:14px; margin-bottom:7px;}
.order_detail li span { display:inline-block; width:100px;}
/*pad (768)*/
@include breakpoint($pad){
	.order_detail .title_1 { display:block;}
	.order_detail .box_1 { width:100%; padding-bottom:20px; margin-bottom:20px; border-right:none; border-bottom:1px dashed $gray;}
	.order_detail .box_2 { width:100%;}
}

/*------------ group_1 付款按鈕 ------------*/
.section_member_center .group_1 { max-width:250px; margin:20px auto;}
.section_member_center .group_1 .btn { width:100%; text-align: center;}
.section_member_center .group_1 p { @extend %clearfix; font-size:13px;}
.section_member_center .group_1 span { float:right;}


/*------------  留言板 ------------*/
.comment_box { padding:20px 10px; @extend %clearfix;}
.comment_box a { display:block; text-align: center; margin-bottom:10px;}
.comment_box ul { border-bottom:1px dashed $gray_light; margin-bottom:20px;}
.comment_box li { margin-bottom:20px; vertical-align:text-bottom}
.comment_box li p.txt { display:inline-block; padding:5px 10px; border:1px solid $gray_light; margin-right:10px;}
.comment_box li p.pic { max-width:200px; display:inline-block; padding:10px; border:1px solid $gray_light; margin-right:10px;}
.comment_box li p.pic img { display:block; width:100%; height:auto;}
.comment_box li span.time { font-size:13px; color:$gray;}
// 右邊
.comment_box li.right { @extend %clearfix; text-align:right;}
.comment_box li.right p.txt { float:right; margin-left:10px;}
.comment_box li.right p.pic { float:right; margin-left:10px;}
// 輸入框
.comment_box .box_1 { width:49%; float:left;}
.comment_box .box_1 input { width:100%; }
.comment_box .box_1 form { margin-bottom:0;}
.comment_box .box_2 { width:49%; float:right; clear:none; margin-bottom:0;}

/*mobile (480)*/
@include breakpoint($mobile){
	.comment_box .box_1 { width:100%;}
	.comment_box .box_1 input { height:100px;}
	.comment_box .box_2 { width:100%;}
}

/*------------  退換貨申請 ------------*/
.return_apply { @extend %clearfix; color:$gray; letter-spacing:0.15em;}
.return_apply li { font-size:14px; margin-bottom:7px;}
.return_apply li span { display:inline-block; width:100px;}
/*mobile (480)*/
@include breakpoint($mobile){
	.return_apply { border:none; padding:0;}
}

/*------------  退貨須知 ------------*/
.return_rule { @extend %clearfix; color:$gray; letter-spacing:0.15em;}
.return_rule .inner { height:300px; overflow:auto;}
.return_rule + .group_1 { max-width:400px; text-align: center;}
.return_rule + .group_1 .btn { width:auto;}
/*pad (480)*/
@include breakpoint($mobile){
	.return_rule { padding:10px; margin-bottom:20px;}
	.return_rule .inner { height:200px; }
}



/*------------ member_level 會員等級 ------------*/
.member_level { padding:20px; color:$gray;}
.member_level strong { font-size:20px;}
.member_level p.note { margin-top:40px;}
/*pad (480)*/
@include breakpoint($mobile){
.member_level p.note { padding:0px;}
}

/*------------ note  ------------*/
.section_member_center .note { overflow:auto; padding:30px;}



/*------------ table_2 訂單內容 ------------*/
.order_info { padding:20px 10px; margin-bottom:30px;}
.order_info .title_1 { display:none;}
.order_info .table { padding:20px;}
.order_info .title_3 { height:30px; font-size:16px; padding:0 0 0 10px; margin-top:20px;} 
.order_info .note { display:block; padding:30px; border-top: 1px dashed #bbb;}
/*pad (768)*/
@include breakpoint($pad){
	.order_info .title_1 { display:block;}
}
/*pad (480)*/
@include breakpoint($mobile){
	.order_info { border:none; padding:0;}
}

// table
.table_2 { width:100%; margin-bottom:50px;}
.table_2 td em { color: $red;}
.table_2 td em { color: $red;}
.table_2 select { height:30px; width:50px;}
.table_2 .align_left { text-align: left;}
// thead
.table_2 thead th { background:$gray; color: $white; font-size:15px; padding: 8px 12px; border-bottom:1px solid $gray;}
// tr
.table_2 tbody tr { border-bottom: 1px solid #bbb;}
.table_2 tbody tr:hover { background:#eee;}

// td
.table_2 td { padding: 30px 6px; font-size:15px; line-height: 1.4; text-align: center; min-width: 76px;}
.table_2 td.img { width:100px;}

// 產品名稱
.table_2 td.info em { font-style: normal; margin-left:5px;}
.table_2 td.info span { font-style: normal;}
// 按鈕
.table_2 a { display: inline-block; vertical-align: middle;}
.table_2 .btn-holder { min-width: 30px;}
.table_2 .btn-holder a { display:inline-block; width:40px; height:30px; background-size:100% auto;}
.table_2 .btn-holder a:hover { background-position: center bottom;}
.table_2 .favorite a { background-image:url(../images/icon_favorite.svg);}
.table_2 .delete a { background-image:url(../images/icon_delete.svg);}

/*pad (768)*/
@include breakpoint($pad){
	.table_2 .pad_hide { display: none;}
}

/*mobile (480)*/
@include breakpoint($mobile){
	.table_2 { margin-bottom:20px;}
	.table_2 .mobile_hide { display: none;}
	.table_2 thead th { padding:5px 0px; font-size:14px;}
	.table_2 td { padding:30px 4px;}
}
/*mobileS (360)*/
@include breakpoint($mobileS){
	.table_2 td { padding:30px 0px; font-size:13px;}
}



/*mobile (480)*/
@include breakpoint($mobile){
	// 標題隱藏
	.title_hide thead { display: none;}
	.title_hide tr { display: block; margin-bottom:20px; padding-bottom:20px;}
	.title_hide tr:nth-child(1){ padding-top:20px; border-top:1px solid $gray_light;}
	.title_hide td { display: block; text-align: right; padding:7px 5px; }
	.title_hide td[data-title]:before { content: attr(data-title); display: block; color: $gray; font-size: 13px; float: left;}
}
