
@charset "utf-8";
/* CSS Document */
.section_product_list{ }



/*麵包屑*/
.section_product_list .part_breadcrumb_1{ float: left;}


/*篩選*/
.section_product_list .select_box{ float: right; border:1px solid green; padding-top: 38px; }
.section_product_list .select_box .select{ display: inline-block; width: 258px; height: 46px; border: 1px solid pink;}
.section_product_list .select_box .select:nth-of-type(1){ margin-right: 15px;}

@include breakpoint($pad){
    .section_product_list .part_breadcrumb_1{ float: none;}
    .section_product_list .select_box{ float: none; padding-top: 0px;}
    .section_product_list .select_box .select{ width: 40%; margin: 0 6%; }
    .section_product_list .select_box .select:nth-of-type(1){margin-right: 0;}
    
}
 