
@charset "utf-8";
/* CSS Document */
.section_product_list{}

/*麵包屑*/
.section_product_list .part_breadcrumb_1{ float: left;}


/*篩選=======================*/
.section_product_list .select_box{ float: right;  padding-top: 38px; height: 46px; }
.section_product_list .select_box .select{  width: 258px; height: 46px; border: 1px solid $gray; float: left}
.section_product_list .select_box .select:nth-of-type(1){ margin-right: 15px;}

.section_product_list .select_box a{color: $gray;}
.section_product_list .select_box .item_1 a+.sub,.section_product_list .select_box .item_2 a+.sub{ border: 1px solid $gray; background: $white;}
/*item_1============*/
.section_product_list .select_box .item_1{ position: relative;}
.section_product_list .select_box .item_1 a{ display: block; text-align: center; line-height: 45px;}
// 次選單
.section_product_list .select_box .item_1 a+.sub{ position: absolute; left: 0px; 
top:45px;  z-index: 5; display: none;}
.section_product_list .select_box .item_1 a+.sub a{ display: block; width: 258px; padding: 5px;} 
/*顯示次選單*/
.section_product_list .select_box .item_1 a.show +.sub { display: block;}


/*item_2===========*/
.section_product_list .select_box .item_2 a{ display: block; text-align: center; line-height: 45px;}
// 次選單
.section_product_list .select_box .item_2 a+.sub{ width: 258px; border: 1px solid $gray;  background: $white; padding: 20px; position: relative; z-index:5; display:none; }
.section_product_list .select_box .item_2 a.show +.sub { display: block;}
/*range*/
.section_product_list .select_box .item_2 .sub .select_range{ width: 100%; height: 120px; }
.section_product_list .select_box .item_2 .sub .select_range .select_range{ margin-bottom:30px;}
.section_product_list .select_box .item_2 .sub .select_range label{ display: block; font-size: 14px; margin-bottom: 5px;}
.section_product_list .select_box .item_2 .sub .select_range .irs-bar{ background: $gray; border-color: $gray;}
.section_product_list .select_box .item_2 .sub .select_range .irs-from, .select_box .irs-to, .select_box .irs-single{ background: $gray;}
.section_product_list .select_box .item_2 .sub .select_range .irs-slider{box-shadow:none; background: $gray_light;}
.section_product_list .select_box .item_2 .sub .select_range .irs .irs-min,.select_box .irs .irs-max{ background: transparent; top: auto; bottom: -20px;}
/* select_label */
.section_product_list .select_box .item_2 .select_label{ margin-bottom: 20px;}
.section_product_list .select_box .item_2 .select_label label{ display: block; font-size: 16px;}  
.section_product_list .select_box .item_2 .select_label input{ margin-right: 5px;}   
/*oprate*/
.section_product_list .select_box .item_2 .sub .oprate{ width: 120px; height: 30px; position: absolute; right: 0px; bottom: 10px; }
.section_product_list .select_box .item_2 .sub .oprate input{ border:0px; background: transparent; letter-spacing: 3px; font-size: 16px; color: gray; }
.section_product_list .select_box .item_2 .sub .oprate .btn_clean{}
.section_product_list .select_box .item_2 .sub .oprate .btn_search{}


@include breakpoint($pad){
.section_product_list .part_breadcrumb_1{ float: none;}
.section_product_list .select_box{ float: none; padding-top: 0px; margin-bottom: 30px;}
.section_product_list .select_box .select{ width: 40%; margin: 0 6%; }
.section_product_list .select_box .select:nth-of-type(1){margin-right: 0;}
    
}