
@charset "utf-8";
/* CSS Document */

.section_product_detail .btn{ padding: 10px;}
.section_product_detail{  @extend %clearfix;}
.section_product_detail .area{ margin-bottom: 60px;@extend %clearfix;}
.section_product_detail .area_1{ width: 730px;  float:left; }
.section_product_detail .area_2{ width: 400px; float:right; }
.section_product_detail h1{ margin-bottom: 10}

/*pc (1024)*/
@include breakpoint($pc){
   .section_product_detail .area_1{ width: 58%;}
   .section_product_detail .area_2{ width: 38%;}
}

/*768px*/
@media only screen and (max-width:768px) {
    .section_product_detail .area_1{ width: 48%; }
    .section_product_detail .area_2{ width: 48%; }
}

/*padM (640)*/
@include breakpoint($padM){
    .section_product_detail .area_1{ width: 100%; float: none;}
    .section_product_detail .area_2{width: 100%; float: none;}
}



/*tag*/
.section_product_detail .area_2 .tag_box_1{margin-bottom: 5px;}
.section_product_detail .area_2 .tag_box_2{margin-bottom: 10px;}

/*price*/
.section_product_detail .price{ line-height: 24px;}
.section_product_detail .price span{ font-size: 24px; color: $red;}
.section_product_detail .price span.item_old_price{text-decoration: line-through; color: $gray_light;font-size: 15px}
/*time*/
.section_product_detail .time{ margin-bottom: 10px;}
/*info*/
.section_product_detail .info{ border: 1px solid $gray; padding: 10px; margin-bottom: 20px;}
/*form*/
.section_product_detail .area_2 .form_2 li a.btn.sale{ text-align: right; background:$red; padding: 5px 10px;}


/*tab_1 切換編輯器*/
.section_product_detail .tab_1{}
.section_product_detail .tab_1 .tab_content{}
.section_product_detail .tab_1 .tab_content a{ }
.section_product_detail .tab_1 .tab_content a:hover{ }


// gallery_2 產品圖切換
.gallery_2 {position: relative;}

/*外掛歸零*/
.gallery_2 .bx-wrapper{ margin: auto; }
.gallery_2 .bx-wrapper .bx-viewport{  height: 530px!important; box-shadow:none; border:none; left:0px; }

/*滾動組*/
.gallery_2 .run {width: 100px; padding-top: 40px; @extend %clearfix;}

/*組*/
.gallery_2 .run .inner .piece{ margin-bottom:10px; }
.gallery_2 .run .inner .piece img{}

/*自訂義方向鍵*/
.gallery_2 .operate { height:600px; width: 100px; position: absolute; left: 0px; top: 0px;  }

.gallery_2 .operate .prev { width: 100px; height: 20px; background: url(../images/icon_arrow_2.png) center top no-repeat; background-size: auto 40px;  position: absolute;left: 0px;top: 0px;}
.gallery_2 .operate .next { width: 100px; height: 20px;   background: url(../images/icon_arrow_2.png) center bottom no-repeat; background-size: auto 40px; position: absolute; left: 0px; bottom: 0px;}
.gallery_2 .operate .prev a.bx-next,.operate .next a.bx-prev  {display: block;width: 100px; height: 20px}
/*圖片切換*/
.gallery_2 .stage {width: 600px; height: 600px; position: absolute; right: 0px; top: 0px;}
.gallery_2 .stage img{ width: 100%; height: auto;}

/*pc (1024)*/
@include breakpoint($pc){
    .gallery_2 .stage{ width: 400px; height: 400px;}
}

/*768px*/
@media only screen and (max-width:768px) {
    .gallery_2 .bx-wrapper .bx-viewport{  height: auto!important;}
    .gallery_2 .run { width: auto; padding-top: 0px;}
    .gallery_2 .operate {display: none;}
    .gallery_2 .stage { display: none;}
}

/*padM (640)*/
@include breakpoint($padM){
    .gallery_2{ margin-bottom: 30px;}
}




//加購商品======================================== 
.gallery_3{position: relative; }

/*外掛歸零*/
.gallery_3 .bx-wrapper{}
.gallery_3 .bx-wrapper .bx-viewport{  box-shadow: none;border: none; left: 0px;}


/*滾動組*/
.gallery_3 .run{ @extend %clearfix; }
.gallery_3 .run .inner{}

// 方向鍵
.gallery_3 .bx-wrapper .bx-controls-direction a{ width: 24px; height: 34px;}
.gallery_3 .bx-wrapper .bx-prev{left: -50px; background: url(../images/icon_arrow_3.png) left top no-repeat; background-size: auto 70px; }
.gallery_3 .bx-wrapper .bx-next{right: -50px;background: url(../images/icon_arrow_3.png) right top no-repeat; background-size: auto 70px; }
/*hover*/
.gallery_3 .bx-wrapper .bx-prev:hover{ background-position: left bottom;}
.gallery_3 .bx-wrapper .bx-next:hover{ background-position: right bottom;}


/*組*/
.gallery_3 .run .inner .piece{ }
.gallery_3 .run .inner .piece .btn{ margin: 0px;}

/*圖片*/
.gallery_3 .run .inner .piece a.pic{ display:block; margin-bottom: 15px;}
.gallery_3 .run .inner .piece a.pic img{}



//相關推薦======================================== 
 .gallery_4 {position: relative;}
/*外掛歸零*/
.gallery_4 .bx-wrapper {}
.gallery_4 .bx-wrapper .bx-viewport {box-shadow: none;border: none; left: 0px;}


/*滾動組*/
.gallery_4 .run {}
.gallery_4 .run .inner {}

/* // 方向鍵 */
.gallery_4 .bx-wrapper .bx-controls-direction a {width: 24px;height: 34px;}

.gallery_4 .bx-wrapper .bx-prev{left: -50px;background: url(../images/icon_arrow_3.png) left top no-repeat;background-size: auto 70px;}
/*有margin-left所以右邊會空出15px right少一點  */
.gallery_4 .bx-wrapper .bx-next {right: -50px;background: url(../images/icon_arrow_3.png) right top no-repeat;background-size: auto 70px;}
/*hover*/

.gallery_4 .bx-wrapper .bx-prev:hover {
    background-position: left bottom;
}

.gallery_4 .bx-wrapper .bx-next:hover {
    background-position: right bottom;
}
/*組*/

.gallery_4 .run .inner .piece {
        /* margin-right: 15px;  */
}
/*圖片*/
.gallery_4 .run .inner .piece a.pic { display: block;}


.gallery_4 .run .inner .piece a.pic img {}

