//===========================mixin==============================
//a:hover 連結-----------
@mixin link($color, $color_hover){
	text-decoration: none;
	&:link, &:visited{
		color: $color
	}
	&:hover, &:focus, &:active{
		color: $color_hover;
	}
}

//background-color 連結-----------
@mixin bg-color($color_bg, $color_bg_hover){
	&:link,&:visited{
		background-color: $color_bg
	}
	&:hover, &:focus, &:active{
		background-color: $color_bg_hover;
	}
}




/*************************extend*********************************/
%text-hide {
	white-space: nowrap;
	text-indent: 100%;
	overflow: hidden;
}

%clearfix {
	&:after, &:before {
		content: "";
		display: table;
	}
	&:after {
		clear:both;
	}
}

